{% extends "layout.html" %}
{% load i18n %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

<div class="container">


  {% for post in post %}


  <ul class="tilesWrap">
    <li>
      <h3>{% trans "Author" %}: {{ post.user }}</h3>
      <p>
        {% trans "Title" %}:{{ post.title }}
      </p>
      <button><a href="{% url 'view' post.id%}">{% trans "Read more" %}</a></button>
    </li>

  </ul>


  {% endfor %}


</div>
{% endblock %}
