<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  Welcome {{ request.user }}
  <span><a href="{% url 'logout' %}">Logout</a></span>
  <span><a href="{% url 'add' %}">Add a Post</a></span>
  <span><a href="{% url 'myposts' %}">My Posts</a></span>
  <ul>
    {% for post in post %}
    <li><a href="{% url 'view' post.id%}">{{ post.id }}  {{ post.title }} - {{ post.user }}</a></li>

      <!--<li>{{ post.title }} - {{ post.user }}<br/>
      {{ post.body }}</li>-->
    {% endfor %}


  </ul>

</body>
</html>
