{% extends "layout.html" %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

  {% for post in post %}
  <section class="dl-blurbs">
    <dl>
      <dt><a href="{% url 'view' post.id%}">{{ post.user }}</a></dt>
      <dd><a href="{% url 'view' post.id%}">{{ post.id }}  {{ post.title }}</a></dd>


    <!--<li>{{ post.title }} - {{ post.user }}<br/>
    {{ post.body }}</li>-->
    </dl>
    </section>
  {% endfor %}








{% endblock %}
