{% extends "layout.html" %}
{% load i18n %}
{% block title %}
<title>My Posts</title>
{% endblock %}

{% block body %}
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

    {% for post in post %}
    <ul class="tilesWrap">
      <li>
        <h3>{{ post.title }}</h3>
        <p>
          {{ post.body }}
        </p>
        <button><a href="{% url 'edit' post.id%}">{% trans "__Edit__" %}</a></button>
      </li>
    </ul>
    {% endfor %}
{% endblock %}
